# NeoVim is handled in separate repo
/nvim/dot-config/nvim/

# DankMaterialShell colorschemes are changed every dark/light theme switch
niri/dot-config/niri/dms/colors.kdl
ghostty/dot-config/ghostty/config-dankcolors
